<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoraviYum Food Review</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div class="signin_container fade-in" id="signin_panel">
        <h1 id="moraviyum_welcome">Welcome to MoraviYum Food Review</h1>
        <img src="/moravian_star.png" alt="moravian_star" id="moravian_star_image">
        <p>Click <a href="login.php">here</a> to login</p>
        <p>Click <a href="register.php">here</a> to register</p>
    
</body>
<script src="app.js"></script>
</html>