<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoggedInPage</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
     <!-- Welcome panel -->
     <div id="welcome_panel" class="fade-in">
        <h1 id="welc_yum">Welcome to MoraviYum!</h1>
        <h3 id="loading_message">Preparing the menu<span class="dot">.</span><span class="dot">.</span><span class="dot">.</span></h3>
    </div>

    <div class="signin_container fade-in" id="review_panel" style="display: none;">
        <h1 id="moraviyum_welcome">Welcome {{ user_name }} </h1>
        <a href="/logout"><button id="logout_button">Log out</button></a>
    </div>

    <script>
        // Wait for 3 seconds, then switch from the welcome panel to the review panel
        setTimeout(function() {
            // Hide the welcome panel
            document.getElementById('welcome_panel').style.display = 'none';
            // Show the review panel
            document.getElementById('review_panel').style.display = 'block';
        }, 3000);  // 3000 milliseconds = 3 seconds
    </script>
</body>
</html>