<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoggedInPage</title>
    <link rel="stylesheet" type="text/css" href="/static/review_style.css">
</head>
<body>
    
    <div id="image_container"></div>
        <img src="/moravian_star.png" alt="moravian_star" id="moravian_star_image">
    </div>

    <!-- Welcome panel -->
    <div id="welcome_panel" class="fade-in">
        <h1 id="welc_yum">Welcome to MoraviYum!</h1>
        <h3 id="loading_message">Preparing the menu<span class="dot">.</span><span class="dot">.</span><span class="dot">.</span></h3>
    </div>
    

    <!-- Dropdown options panel (initially hidden) -->
    <div id="dropdown_panel" style="display: none;" class="dropdown_container">

        <h2 id="select_preference">Select Your Preferences</h2>
        <div class="dropdown_container">
            <div class = "dropdown-item">
                <button id="activateDropdown1">B & G</button>
                <select id="dropdown1">
                    <option value="Cru5h">Cru5h</option>
                    <option value="Garbanzos">Garbanzos</option>
                    <option value="Hissho Sushi">Hissho Sushi</option>
                </select>
            </div>
            <div class = "dropdown-item">
                <button id="activateDropdown2">Delight's Cafe</button>
                <select id="dropdown2">
                    <option value="Starbucks">Starbucks</option>
                    <option value="Zime">Zime</option>
                    <option value="Natural">Natural</option>
                </select>
            </div>
        </div>
    </div>

    


    <script>
        // Wait for 3 seconds, then switch from the welcome panel to the dropdown panel
        setTimeout(function() {
            // Hide the welcome panel
            document.getElementById('welcome_panel').style.display = 'none';
            // Show the dropdown panel
            document.getElementById('dropdown_panel').style.display = 'block';
            document.getElementById('image_container').style.display = 'block';
            document.getElementById('dropdown1').style.display = 'none';
            document.getElementById('dropdown2').style.display = 'none';
            
        }, 3000);  // 3000 milliseconds = 3 seconds
    </script>
    <script src="/static/review_app.js"></script>

</body>
</html>
